<%- include('../layouts/head') %>

    <body>
        <header>
            <%- include('../layouts/navbar') %>
        </header>

        <main class="page-header header-filter" style="background-image: url('/images/theaterbg.jpg'); background-size: cover; background-position: top center;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                        <div class="card card-nav-tabs" style="margin-top: 9rem">
                            <div class="card-header card-header-danger text-center">
                                <h4 class="card-title">Manage Your Account</h4>
                                <div class="nav-tabs-navigation">
                                    <div class="nav-tabs-wrapper">
                                        <ul class="nav nav-tabs d-flex justify-content-around" data-tabs="tabs">
                                            <li class="nav-item">
                                                <a class="nav-link active" href="#profile" data-toggle="tab">
                                                    <i class="material-icons">face</i> Profile
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#settings" data-toggle="tab">
                                                    <i class="material-icons">security</i> Change Password
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body ">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="profile">
                                        <form action="" autocomplete="off" id="frm-info">
                                            <div class="form-group">
                                                <label for="inputFullname" class="bmd-label-floating">Fullname</label>
                                                <input type="text" class="form-control" id="inputFullname" value="<%= user.fullname %> ">
                                                <span class="bmd-help">Your fullname mustn't contain numbers or special characters.</span>
                                            </div>
                                            <div class="form-group">
                                                <label for="phoneInput" class="bmd-label-floating">Phone</label>
                                                <input type="text" class="form-control" id="phoneInput" value="<%= user.phone %>">
                                                <span class="bmd-help">Your phone must have exactly 10 numbers.</span>
                                            </div>
                                            <div class="form-group">
                                                <label class="label-control">Date Of Birth</label>
                                                <input type="text" class="form-control datepicker" id="dobInput" autocomplete="off" value="<%= user.dob %>">
                                            </div>
                                            <div class="footer text-center">
                                                <a href="javascript:$('#frm-info').submit();" class="btn btn-primary btn-link btn-wd btn-lg">Change</a>
                                            </div>
                                        </form>
                                        <div class="row justify-content-center">
                                            <div class="col-sm-12 d-flex justify-content-center">
                                                <div class="alert" id="info-alert">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="settings">
                                        <form id="frm-password">
                                            <div class="form-group">
                                                <label for="oldPassword" class="bmd-label-floating" autocomplete="off">Old Password</label>
                                                <input type="password" class="form-control" id="oldPassword">
                                            </div>
                                            <div class="form-group">
                                                <label for="inputPassword" class="bmd-label-floating">New Password</label>
                                                <input type="password" class="form-control" id="inputPassword">
                                            </div>
                                            <div class="form-group">
                                                <label for="inputCfPassword" class="bmd-label-floating">Confirm Password</label>
                                                <input type="password" class="form-control" id="inputCfPassword">
                                            </div>
                                            <div class="footer text-center">
                                                <a href="javascript:$('#frm-password').submit();" class="btn btn-primary btn-link btn-wd btn-lg">Change Password</a>
                                            </div>
                                        </form>
                                        <div class="row justify-content-center">
                                            <div class="col-sm-12 d-flex justify-content-center">
                                                <div class="alert" id="password-alert">
                                                    <button type="button" class="close" data-dismiss="alert">x</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <footer>
                    <%- include('../layouts/footer') %>
                </footer>
            </div>
        </main>
        <%- include('../layouts/scripts') %>
            <script src="/javascripts/js/profile.js"></script>
    </body>

    </html>