<% include ../head %>

    <body id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <% include ../navbar %>
                <!-- End of Sidebar -->

                <!-- Content Wrapper -->
                <div id="content-wrapper" class="d-flex flex-column">

                    <!-- Main Content -->
                    <div id="content">

                        <!-- Header -->
                        <% include ../header %>
                            <!-- End of Header -->

                            <!-- Begin Page Content -->
                            <div class="container-fluid">

                                <!-- Page Heading -->

                                <!-- Show Data -->
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h4 class="m-0 font-weight-bold text-primary text-center">Report
                                        </h4>
                                    </div>

                                    <div class="card-body">
                                        <div class="card-body">
                                            <div class="container">
                                                <form>

                                                    <div class="form-group">
                                                        <h6 class="m-0 font-weight-bold">Period
                                                        </h6>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-md-1"><label for="birthday">From: </label></div>
                                                            <div class="col-md-4"><input type="date" id="beginningday" name="beginningday" required value="<%= dateToday %>"></div>
                                                            <div class="col-md-1"><label for="">To: </label></div>
                                                            <div class="col-md-4"><input type="date" id="endday" name="endday" required value="<%= dateToday %>"></div>
                                                        </div>
                                                        <br>
                                                        <br>
                                                        <h6 class="m-0 font-weight-bold">Revenue Of:
                                                        </h6>
                                                        <br>

                                                        <div class="row">
                                                            <div class="col-md-1">
                                                                <label for="theater">Theater</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <select name="idtheater" id="idtheater">
                                                            <option value="null">All</option>
                                                            <% theaters.forEach(function(itemTheater){ %>
                                                              <option value="<%= itemTheater.id %>">
                                                                <%= itemTheater.name %>
                                                              </option>
                                                              <% }); %>
                                                          </select>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <button type="button" class="btn btn-primary" id="viewRevenueTheater">View
                                                            Revenue</button>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-sm-1"><label for="film">Film</label></div>
                                                            <div class="col-sm-7">
                                                                <select name="idfilm" id="idfilm">
                                                              <option value="null">All</option>
                                                              <% films.forEach(function(itemFilm){ %>
                                                                <option value="<%= itemFilm.id %>">
                                                                  <%= itemFilm.title %>
                                                                </option>
                                                                <% }); %>
                                                            </select>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <button type="button" class="btn btn-primary" id="viewRevenueFilm">View
                                                              Revenue</button>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <br>
                                                    </div>
                                            </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="card shadow mb-4" id="#table-revenue">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary" id="#header">Revenue</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                <thead>
                                                    <tr id="films">
                                                    </tr>
                                                </thead>

                                                <tbody id="dates">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>
                    <!-- End of Main Content -->

                    <!-- Footer -->
                    <% include ../footer%>
                        <!-- End of Footer -->
                </div>
                <!-- End of Content Wrapper -->
        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <% include ../logout %>

            <!-- Add Javascript-->
            <% include ../javascripts-addon %>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
                <script src="/javascripts/js/report.js"></script>
    </body>

    </html>